@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #0177b0;
  transition: color 0.2s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #0e96da;
}

main {
  margin: 40px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 14px;
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 28px;
  }

  h6 {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 10px;
  }
}
